
body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.hot {
    background-color: grey;
    border-style: dashed;
    border-color: rgb(104, 131, 131);
    font-size: medium;
    padding: 5%;
}

p {
    line-height: 140%;
    width: 80%;
}